
.showContainer {
	display: flex;
	margin-left: 7%;
	/*width: 95%;*/
	margin-top: 50px;
}

.showContainer img {
	height: 40vh;
	border-radius: 200px;
	margin-right: 40px;
}


#showButton {
	padding: 8px;
	background: rgba(255, 83, 15, 0.6);
	color: white;
	border-radius: 25px;
	font-weight: 600;
	font-size: 17px;
	margin-top: 23px;
	margin-left: 10px;
}

#titleDiv {
	display: flex;
	align-items: flex-start;
}

#showInfo {
	width: 30%;
}